.featureCard {
  width: calc((100% - 4rem) / 3);
  cursor: pointer;

  & > img {
    width: 100%;
    height: 28rem;
  }

  & > div {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & > h2 {
      font-size: var(--font-large);
      display: -webkit-box;
      -webkit-line-clamp: 2; /* limit to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: calc(2 * 1.2 * 2.2rem);
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &>div:nth-child(2){
      &>p{
        font-size: var(--font-vsmall);
      }
    }

    & > button {
      height: 4rem;
      width: max-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: var(--font-small);
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      color: var(--text-primary);

      & > span {
        font-size: var(--font-small);
        color: var(--text-primary);
      }

      & > div {
        background-color: #efefef;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .featureCard {
    width: 100%;

    & > div {
      padding-block: 1rem;
      padding-inline: 1rem;
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .featureCard {
    width: calc((100% - 4rem) / 2);
  }
}
