.crowdFundContainer {
  padding-inline: 7.5rem;
  padding-block: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  & > h2,
  p {
    text-align: center;
  }

  & > h2 {
    font-size: var(--header-large);
  }

  & > p {
    font-size: var(--font-medium);
    color: var(--text-secondary);
    width: 50%;
    margin-inline: auto;
  }
}

.crowdHeaderContainer {
  padding-inline: 7.5rem;

  & > div {
    gap: 4rem;
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > div:nth-child(1) {
      height: 35rem;
      width: 100%;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    & > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 0.5rem;

      .crowdHeadItem {
        flex: 1 1 calc(50% - 2rem);
        display: flex;
        gap: 2rem;

        & > div:nth-child(1) {
          min-width: 4rem;
          min-height: 4rem;
          max-width: 4rem;
          max-height: 4rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          background-color: var(--btn-hover-color);
          display: flex;
          justify-content: center;
          align-items: center;

          & > p {
            font-size: var(--font-medium);
            color: #ffffff;
          }
        }

        & > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          & > h2 {
            margin-top: 0.8rem;
            font-size: var(--font-large);
            text-transform: capitalize;
          }

          & > p {
            font-size: var(--font-medium);
            color: var(--text-secondary);
          }
        }
      }
    }
  }
}

.blogsContainer {
  background-color: var(--bg-primary);

  & > div {
    padding-inline: 7.5rem;
    padding-block: 6rem;

    & > div {
      width: min(100%, var(--maximum-screen-width));
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > h2 {
        font-size: var(--header-large);
        text-transform: capitalize;
      }

      & > button {
        width: 19.3rem;
        height: 4rem;
        background-color: #ffffff;
        border: 0.2rem solid rgba(0, 0, 0, 1);
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        & > span {
          font-size: var(--font-medium);
          font-weight: 700;
        }
      }
    }

    & > button:nth-child(3) {
      display: none;
    }
  }
}

.blogCardContainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .crowdFundContainer {
    padding: 1.5rem;
    gap: 2rem;

    & > p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  .crowdHeaderContainer {
    padding-inline: 1.5rem;

    & > div {
      flex-direction: column;
      min-height: 100%;
      max-height: 100%;
      gap: 0rem;

      & > div:nth-child(1) {
        width: 100%;
        min-height: 20rem;
        max-height: 20rem;
        margin-bottom: 2rem;

        & > img {
          width: 100%;
          max-height: inherit;
        }
      }

      & > div:nth-child(2) {
        width: 100%;
        height: auto;
      }
    }
  }

  .blogsContainer {
    & > div {
      padding-inline: 1.5rem;

      & > div {
        display: block;

        & > h2 {
          text-align: center;
          text-transform: capitalize;
        }

        & > button {
          display: none;
        }
      }

      & > button:nth-child(3) {
        display: block;
        margin-inline: auto;
        margin-block: 2rem;
        height: 3.6rem;
        width: 15.7rem;
        border-radius: 1.6rem;
        -webkit-border-radius: 1.6rem;
        -moz-border-radius: 1.6rem;
        -ms-border-radius: 1.6rem;
        -o-border-radius: 1.6rem;
        border: 0.2rem solid #000000;
        background-color: transparent;
        font-size: var(--font-medium);
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  .crowdFundContainer {
    padding: 1.5rem;
    gap: 2rem;

    & > p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  .crowdHeaderContainer {
    padding-inline: 1.5rem;

    & > div {
      flex-direction: column;
      min-height: 100%;
      max-height: 100%;
      gap: 0rem;

      & > div:nth-child(1) {
        width: 100%;
        min-height: 20rem;
        max-height: 20rem;
        margin-bottom: 2rem;

        & > img {
          width: 100%;
          max-height: inherit;
        }
      }

      & > div:nth-child(2) {
        width: 100%;
        height: auto;
      }
    }
  }

  .blogsContainer {
    & > div {
      padding-inline: 1.5rem;

      & > div {
        & > h2 {
          text-transform: capitalize;
        }
      }
    }
  }
}
