.crowdFundContainer {
  padding: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  & > h2,
  p {
    text-align: center;
  }

  & > h2 {
    font-size: 4.8rem;
    font-weight: 700;
  }

  & > p {
    font-size: var(--font-medium);
    color: var(--text-secondary);
    width: 50%;
    margin-inline: auto;
  }
}

/* .crowdHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.crowdHeadItem {
  width: 55%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 4rem;

  & > div:nth-child(1) {
    background-color: rgba(10, 132, 255, 1);
    min-width: 15.932rem;
    min-height: 15.932rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
  }

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > h2 {
      font-size: 2.6rem;
      line-height: 2.7rem;
      font-weight: 700;
      text-transform: capitalize;
    }

    & > p {
      font-size: var(--font-medium);
      line-height: 2.8rem;
      font-weight: 400;
      color: var(--text-secondary);
    }
  }
} */

.crowdHeaderContainer {
  padding-inline: 7.5rem;

  & > div {
    gap: 4rem;
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > div:nth-child(1) {
      height: 35rem;
      width: 100%;
      /* width: calc(50% - 2rem); */

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    & > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 2rem;

      .crowdHeadItem {
        flex: 1 1 calc(50% - 2rem);
        display: flex;
        gap: 2rem;

        & > div:nth-child(1) {
          min-width: 6rem;
          min-height: 6rem;
          max-width: 6rem;
          max-height: 6rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          background-color: #8fd600;
          display: flex;
          justify-content: center;
          align-items: center;

          & > p {
            font-size: var(--font-large);
            font-weight: 800;
            color: #ffffff;
          }
        }

        & > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          & > h2 {
            font-size: 2.4rem;
            line-height: var(--subheader-medium-lineheight);
            font-weight: 600;
            text-transform: capitalize;
          }

          & > p {
            font-size: var(--font-medium);
            font-weight: 400;
            color: var(--text-secondary);
          }
        }
      }
    }
  }
}

.blogsContainer {
  background-color: var(--bg-primary);

  & > div {
    padding-inline: 7.5rem;
    padding-block: 6rem;

    & > div {
      width: min(100%, var(--maximum-screen-width));
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > h2 {
        font-size: var(--subheader-large);
        font-weight: 700;
        line-height: var(--subheader-large-lineheight);
        text-transform: capitalize;
      }

      & > button {
        width: 19.3rem;
        height: 4rem;
        background-color: #ffffff;
        border: 0.2rem solid rgba(0, 0, 0, 1);
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        & > span {
          font-size: var(--font-medium);
          font-weight: 700;
        }
      }
    }

    & > button:nth-child(3) {
      display: none;
    }
  }
}

.blogCardContainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .crowdFundContainer {
    padding: 1.5rem;
    gap: 2rem;

    & > h2 {
      font-size: var(--subheader-small);
    }

    & > p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  .crowdHeaderContainer {
    padding-inline: 1.5rem;

    & > div {
      flex-direction: column;
      min-height: 100%;
      max-height: 100%;
      gap: 0rem;

      & > div:nth-child(1) {
        width: 100%;
        min-height: 20rem;
        max-height: 20rem;
        margin-bottom: 2rem;

        & > img {
          width: 100%;
          max-height: inherit;
        }
      }

      & > div:nth-child(2) {
        width: 100%;
        height: auto;

        .crowdHeadItem {
          & > div:nth-child(1) {
            min-width: 5rem;
            min-height: 5rem;
            max-width: 5rem;
            max-height: 5rem;
          }

          & > div:nth-child(2) {
            & > h2 {
              font-size: 1.8rem;
            }

            & > p {
              font-size: var(--font-small);
            }
          }
        }
      }
    }
  }

  .blogsContainer {
    & > div {
      padding-inline: 1.5rem;

      & > div {
        display: block;

        & > h2 {
          font-size: var(--subheader-small);
          line-height: var(--subheader-small-lineheight);
          text-align: center;
          text-transform: capitalize;
        }

        & > button {
          display: none;
        }
      }

      & > button:nth-child(3) {
        display: block;
        margin-inline: auto;
        margin-block: 2rem;
        height: 3.6rem;
        width: 15.7rem;
        border-radius: 1.6rem;
        -webkit-border-radius: 1.6rem;
        -moz-border-radius: 1.6rem;
        -ms-border-radius: 1.6rem;
        -o-border-radius: 1.6rem;
        border: 0.2rem solid #000000;
        background-color: transparent;
        font-size: var(--font-medium);
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  .crowdFundContainer {
    padding: 1.5rem;
    gap: 2rem;

    & > h2 {
      font-size: var(--subheader-small);
    }

    & > p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  .crowdHeaderContainer {
    padding-inline: 1.5rem;

    & > div {
      flex-direction: column;
      min-height: 100%;
      max-height: 100%;
      gap: 0rem;

      & > div:nth-child(1) {
        width: 100%;
        min-height: 20rem;
        max-height: 20rem;
        margin-bottom: 2rem;

        & > img {
          width: 100%;
          max-height: inherit;
        }
      }

      & > div:nth-child(2) {
        width: 100%;
        height: auto;

        .crowdHeadItem {
          & > div:nth-child(1) {
            min-width: 5rem;
            min-height: 5rem;
            max-width: 5rem;
            max-height: 5rem;
          }

          & > div:nth-child(2) {
            & > h2 {
              font-size: 1.8rem;
            }

            & > p {
              font-size: var(--font-small);
            }
          }
        }
      }
    }
  }

  .blogsContainer {
    & > div {
      padding-inline: 1.5rem;

      & > div {
        & > h2 {
          font-size: var(--subheader-small);
          line-height: var(--subheader-small-lineheight);
          text-transform: capitalize;
        }
      }
    }
  }
}
