.mobileHeader {
  height: 9.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  position: relative;

  & > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 2rem;

    & > button {
      font-size: 2.2rem;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .mobileMenuContainer {
    position: absolute;
    top: 9.5rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    height: calc(100dvh - 9.5rem);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--bg-primary);
    padding-inline: 1.5rem;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    gap: 2rem;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & > button {
        height: 4rem;
        background-color: transparent;
        text-align: start;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: var(--font-medium);
        font-weight: 700;
      }
    }

    & > button {
      height: 4rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: var(--font-medium);
      font-weight: 500;
      background-color: #000;
      color: #ffffff;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
    }
  }

  .search_input {
    height: 3rem;
    width: 100%;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    border: 0.1rem solid var(--border-color);
    font-size: var(--font-medium);
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > input {
      &::placeholder {
        font-size: var(--font-medium);
        color: var(--text-secondary);
      }

      background-color: transparent;
      border: none;
      outline: none;
    }

    & > button {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.profileSectionCard {
  height: 6rem;
  width: 100%;
  background-color: #f2f2ff;
  padding-inline: 1.6rem;
  border-radius: var(--button-radius);
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);
  -ms-border-radius: var(--button-radius);
  -o-border-radius: var(--button-radius);
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 1rem !important;

  & > div:nth-child(1) {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #d9d9d9;
    display: grid;
    place-items: center;

    & > p {
      font-size: 1.8rem;
      font-weight: 700;
      color: #4f4f4f;
    }
  }

  & > div:nth-child(2) {
    width: calc(100% - 4.5rem - 1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > p {
      font-size: 1.4rem;
    }

    & > div {
      display: grid;
      place-items: center;
      font-size: 1.8rem;
    }
  }
}
