.ChangePasswordContainer {
  width: 80%;
  margin-inline: auto;
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > label {
      font-size: var(--font-medium);
      font-weight: 500;
    }

    /* &>div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: var(--button-radius);
      background-color: white;
      -webkit-border-radius: var(--button-radius);
      -moz-border-radius: var(--button-radius);
      -ms-border-radius: var(--button-radius);
      -o-border-radius: var(--button-radius);

      &>input {
        width: calc(100% - 5.7rem);
        height: 5.7rem;
        border: none;
        border-top-left-radius: var(--button-radius);
        border-bottom-left-radius: var(--button-radius);
        font-size: var(--font-medium);
        padding-inline: 2rem;
        outline: none;
      }

      &>button {
        height: 5.7rem;
        width: 5.7rem;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 2rem;
      }
    } */

    & > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: var(--button-radius);
      background-color: white;
      border: 1px solid #e2e8f0; /* default border */
      transition: all 0.2s ease;

      /* FOCUS STATE */
      &:focus-within {
        border-color: #8fd600; /* focus border */
        box-shadow: 0 0 0 3px rgba(143, 214, 0, 0.2); /* optional glow */
      }

      & > input {
        width: calc(100% - 5.7rem);
        height: 5.7rem;
        border: none;
        border-top-left-radius: var(--button-radius);
        border-bottom-left-radius: var(--button-radius);
        font-size: var(--font-medium);
        padding-inline: 2rem;
        outline: none;
      }

      & > button {
        height: 5.7rem;
        width: 5.7rem;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 2rem;
      }
    }
  }

  .updateBtn {
    width: 15rem;
    height: 4rem;
    border: none;
    background: black;
    color: white;
    font-size: var(--font-medium);
    font-weight: var(--btn-font-weight);
    cursor: pointer;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    margin-inline: auto;
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .ChangePasswordContainer {
    width: 100%;
  }
}
