.ChangePasswordContainer {
  width: 80%;
  margin-inline: auto;
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &>label {
      font-size: var(--font-large);
    }

    &>div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: var(--button-radius);
      background-color: white;
      /*position: relative;
       */
      -webkit-border-radius: var(--button-radius);
      -moz-border-radius: var(--button-radius);
      -ms-border-radius: var(--button-radius);
      -o-border-radius: var(--button-radius);

      &>input {
        /* width: 100%; */
        width: calc(100% - 5.7rem);
        height: 5.7rem;
        border: none;
        border-top-left-radius: var(--button-radius);
        border-bottom-left-radius: var(--button-radius);
        font-size: var(--font-medium);
        padding-inline: 2rem;
        outline: none;
      }

      &>button {
        height: 5.7rem;
        width: 5.7rem;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 2rem;
      }
    }
  }


  /* .editIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 2rem;
    cursor: pointer;
  } */

  .updateBtn {
    width: 15rem;
    height: 4rem;
    border: none;
    background: black;
    color: white;
    font-size: var(--font-medium);
    font-weight: 500;
    cursor: pointer;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    margin-inline: auto;
  }
}

@media screen and (min-width:0px) and (max-width:430px) {
  .ChangePasswordContainer {
    width: 100%;
  }
}