.header {
  height: 9.5rem;
  width: 100%;
  padding-inline: 7.5rem;

  &>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;

    &>div {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    &>div:nth-child(2) {

      &>button:nth-child(1) {
        height: 4rem;
        width: 13.2rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        font-size: var(--font-medium);
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;

        &>span {
          font-size: var(--font-medium);
        }
      }

      .profileBtn {
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.2rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
      }

      .signinBtn {
        background-color: #000;
        color: #fff;
        width: 13.2rem;
        height: 4rem;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        font-size: var(--font-medium);
        cursor: pointer;
      }
    }
  }

}

.nav {
  margin-left: 20rem;

  &>ul {
    display: flex;
    align-items: center;
    gap: 2rem;

    &>li {
      list-style-type: none;

      a {
        font-size: var(--font-medium);
        text-decoration: none;
      }
    }
  }
}