.discoverSortContainer {
  padding-inline: 7.5rem;
  padding-block: 2rem 4rem;

  & > div {
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;

    & > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      & > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: max-content;
        margin-inline: auto;

        & > h2 {
          font-size: var(--header-large);
          text-align: center;
        }

        & > p {
          font-size: var(--font-large);
          text-align: center;
          color: var(--text-secondary);
        }
      }

      & > div:nth-child(2) {
        width: 100%;
        height: 5.7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        background: #ffffff;
        border: 1px solid #e2e8f0;
        border-radius: var(--button-radius);

        transition: all 0.25s ease;
        overflow: hidden;

        /* FOCUS BORDER */
        &:focus-within {
          border-color: #8fd600;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
        }

        & > input {
          width: calc(100% - 5.7rem);
          height: 100%;

          border: none;
          outline: none;

          padding-inline: 2rem;
          font-size: var(--font-medium);
          color: #1f2937;
          background: transparent;
        }

        & > input::placeholder {
          color: #9ca3af;
        }

        & > button {
          width: 5.7rem;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          border: none;
          outline: none;
          font-size: var(--font-medium);
          cursor: pointer;
        }
      }
    }

    & > div:nth-child(2) {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      margin-top: 4rem;

      .sortCardItem {
        flex: 0 0 calc((100% - 16rem) / 5);
        height: 20.5rem;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 1rem;

        & > div {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--header-large);
          }

          & > p {
            font-size: var(--font-medium);
            text-align: center;
          }
        }
      }
    }
  }
}

.featureContainer {
  padding-inline: 7.2rem;
  padding-block: 6rem;

  & > div {
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;
  }
}

.featureCardContainer {
  margin-top: 0rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
}

.paginationContainer {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .discoverSortContainer {
    padding-inline: 1.5rem;

    & > div {
      & > div:nth-child(2) {
        gap: 2rem;

        .sortCardItem {
          flex: 0 0 calc((100% - 2rem) / 2);
        }
      }
    }
  }

  .featureContainer {
    padding-inline: 0rem;
    padding-block: 1.5rem;
  }

  .featureCardContainer {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  .discoverSortContainer {
    padding-inline: 1.5rem;

    & > div {
      & > div:nth-child(2) {
        gap: 2rem;

        .sortCardItem {
          flex: 0 0 calc((100% - 6rem) / 3);
        }
      }
    }
  }

  .featureContainer {
    padding-inline: 0rem;
    padding-block: 1.5rem;
  }

  .featureCardContainer {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .discoverSortContainer {
    padding-inline: 1.5rem;

    & > div {
      & > div:nth-child(2) {
        gap: 2rem;

        .sortCardItem {
          flex: 0 0 calc((100% - 6rem) / 4);
        }
      }
    }
  }
}
