.profileContainer {
  width: 100%;
  margin: auto;
  background: #f2f5f8;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.avatar {
  position: relative;
  width: 17rem;
  height: 17rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.profileImageContainer {
  width: 17rem;
  height: 17rem;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Hide file input */
.fileInput {
  display: none;
}

/* Camera icon overlay */
.cameraIcon {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  background: #000;
  color: #fff;
  padding: 0.9rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

/* Hover effect */
.cameraIcon:hover {
  background: #333;
  transform: scale(1.05);
}

/* Input Fields */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.inputGroup {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup input {
  width: 100%;
  height: 5.7rem;
  border: none;
  border-radius: var(--button-radius);
  background-color: white;
  font-size: var(--font-medium);
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);
  -ms-border-radius: var(--button-radius);
  -o-border-radius: var(--button-radius);
  padding-inline: 2rem;
  outline: none;
}

/* .editIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 14px;
  cursor: pointer;
} */

/* Update Button */
.updateBtn {
  margin-top: 1rem;
  width: 20rem;
  height: 4rem;
  border: none;
  background: black;
  color: white;
  font-size: var(--font-medium);
  font-weight: 500;
  cursor: pointer;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  /* text-transform: uppercase; */
}

.phoneContainer :global(.react-international-phone-input-container) {
  display: flex;
  align-items: center;
  height: 5.7rem;
  border-radius: 1rem;
  background-color: white;
}

.phoneContainer :global(.react-international-phone-country-selector-button) {
  height: 100%;
  display: flex;
  align-items: center;
}

.phoneContainer :global(.react-international-phone-input) {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
}


@media screen and (min-width: 0px) and (max-width: 430px) {
  .profileContainer {
    margin: initial;
    padding: 0rem;
  }

  .avatar {
    width: 14rem;
    height: 14rem;
  }

  .profileImageContainer {
    width: 14rem;
    height: 14rem;
  }

  .avatarText {
    font-size: 6rem;
  }

  .updateBtn {
    margin-top: 0rem;
  }

}