.heroContainer {
  height: 68rem;
  background-image: url("../../assets/heroBanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-inline: 7.5rem;

  & > div {
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;
    position: relative;
    height: 100%;
  }
}

.heroContainer::after {
  content: "";
  position: absolute;
  top: 9.5rem;
  right: 0;
  left: 0;
  bottom: 0;
  height: 68rem;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(0, 32, 64, 0.7),
    rgba(0, 32, 64, 0)
  );
}

.heroContent {
  position: absolute;
  bottom: 4rem;
  width: min(70rem, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;

  & > h1 {
    font-size: var(--header-large);
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;

    & > span {
      color: var(--header-textcolor);
    }
  }

  & > button {
    min-height: 4rem;
    padding-inline: 2rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 0.1rem solid #00c1e8;
    color: #fff;
    font-size: var(--font-medium);
    font-weight: var(--btn-font-weight);
    border-radius: 3.2rem;
    -webkit-border-radius: 3.2rem;
    -moz-border-radius: 3.2rem;
    -ms-border-radius: 3.2rem;
    -o-border-radius: 3.2rem;
    transition: 0.5s;

    &:hover {
      background-color: #00c1e8;
      color: #000;
    }
  }
}

.impactContainer {
  padding-block: 4rem;
  padding-inline: 7.5rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > h2 {
      width: min(100%, var(--maximum-screen-width));
      margin-inline: auto;
      font-size: var(--header-large);
      text-transform: capitalize;
      border-bottom: 0.2rem solid #000;
      padding-bottom: 0.5rem;
    }

    & > div {
      margin-inline: auto;
      width: min(100%, var(--maximum-screen-width));
      background-color: var(--bg-primary);

      display: flex;
      gap: 6rem;

      & > img {
        width: 50%;
        height: 50rem;
        object-fit: cover;
      }

      & > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        & > h2 {
          font-size: var(--header-large);
        }

        & > p {
          font-size: var(--font-medium);
        }

        & > div:nth-last-child(1) {
          display: flex;
          align-items: center;
          justify-content: space-between;

          & > button:nth-child(1) {
            height: 4rem;
            width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: var(--font-medium);
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            color: #000;

            & > span {
              font-size: var(--font-medium);
            }
          }

          & > button:nth-child(2) {
            width: 15.3rem;
            height: 4rem;
            background-color: var(--btn-base-color);
            border-radius: 3rem;
            -webkit-border-radius: 3rem;
            -moz-border-radius: 3rem;
            -ms-border-radius: 3rem;
            -o-border-radius: 3rem;
            border: none;
            outline: none;
            font-size: var(--font-medium);
            color: #000;
            font-weight: 600;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              background-color: var(--btn-hover-color);
            }
          }
        }
      }

      .impactMobileContainer {
        display: none;
      }

      & > button {
        display: none;
      }
    }
  }
}

.topCampaignsContainer {
  padding-block: 4rem;
  padding-inline: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #000;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > h2 {
      width: min(100%, var(--maximum-screen-width));
      margin-inline: auto;
      font-size: 5.6rem;
      text-transform: capitalize;
      border-bottom: 0.2rem solid #fff;
      padding-bottom: 0.5rem;
      color: #fff;
    }

    & > div {
      margin-inline: auto;
      width: min(100%, var(--maximum-screen-width));
      display: flex;
      gap: 3rem;
    }
  }
}

.featureContainer {
  padding-inline: 7.2rem;
  padding-block: 4rem;
  background-color: var(--bg-primary);

  & > div {
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;

    & > h2 {
      width: min(100%, var(--maximum-screen-width));
      margin-inline: auto;
      font-size: var(--header-large);
      text-transform: capitalize;
      border-bottom: 0.2rem solid #000;
      padding-bottom: 0.5rem;
    }

    & > button {
      padding: 1.2rem 2rem;
      background-color: #ffffff;
      border: 0.2rem solid rgba(0, 0, 0, 1);
      border-radius: 3rem;
      -webkit-border-radius: 3rem;
      -moz-border-radius: 3rem;
      -ms-border-radius: 3rem;
      -o-border-radius: 3rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: var(--font-medium);
      font-weight: 700;
      margin-inline: auto;
      margin-top: 4rem;
      text-transform: uppercase;
    }
  }
}

.featureCardContainer {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
}

.featureCardMobileContainer {
  display: none;
}

.blimp_content_container {
  margin-inline: auto;
  background-color: #72ddf2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 35vh;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(50%, 100%);

    & > h2 {
      font-size: var(--font-large);
    }

    & > p {
      font-size: var(--font-medium);
      font-weight: 400;
    }
  }
}

.newsContainer {
  height: min(80rem, auto);
  background-color: var(--bg-primary);
  padding-block: 2rem;
  padding-inline: 7.5rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > h2 {
      width: min(100%, var(--maximum-screen-width));
      margin-inline: auto;
      font-size: var(--header-large);
      text-transform: capitalize;
      border-bottom: 0.2rem solid #000;
      padding-bottom: 0.5rem;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 6rem;
      width: min(100%, var(--maximum-screen-width));
      margin-inline: auto;

      & > img {
        width: 50%;
        height: 56rem;
        object-fit: cover;
      }

      & > div {
        width: 50%;
        height: min(56rem, auto);
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    }
  }
}

.heroCarouselContainer {
  display: none;
  padding-inline: 7.5rem;
  padding-top: 4rem;

  & > div {
    gap: 4rem;
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > div:nth-child(1) {
      height: 35rem;
      display: flex;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 1rem;
        transition: 0.3s ease-in;
      }
    }

    & > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 0.5rem;

      .crowdHeadItem {
        flex: 1 1 calc(50% - 2rem);
        display: flex;
        gap: 2rem;

        & > div:nth-child(1) {
          min-width: 4rem;
          min-height: 4rem;
          max-width: 4rem;
          max-height: 4rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          background-color: var(--btn-hover-color);
          display: flex;
          justify-content: center;
          align-items: center;

          & > p {
            font-size: var(--font-medium);
            color: #ffffff;
          }
        }

        & > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          & > h2 {
            margin-top: 0.8rem;
            font-size: var(--font-large);
            text-transform: capitalize;
          }

          & > p {
            font-size: var(--font-medium);
            color: var(--text-secondary);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .heroContainer {
    height: 50rem;
    padding-inline: 1.5rem;

    & > div {
      width: 100%;
    }

    &::after {
      height: inherit;
    }
  }

  .heroContent {
    height: max-content;
    gap: 2rem;

    & > h1 {
      margin: 0rem;
    }

    & > button {
      min-height: 4rem;
    }
  }

  .impactContainer {
    height: auto;
    flex-direction: column;
    padding-block: 1.5rem 0rem;
    padding-inline: 0rem;
    gap: 2rem;

    & > div {
      & > h2 {
        width: 90vw;
        margin-inline: auto;
      }

      & > div {
        display: flex;
        flex-direction: column;
        gap: 0rem;

        & > img {
          width: 100%;
          height: 35rem;
        }

        & > div {
          display: none;
        }

        .impactMobileContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;
          background-color: #000;
          width: 100%;
          padding-block: 2rem;

          & > h3 {
            color: #fff;
            text-transform: capitalize;
            margin: 0rem !important;
            width: 90vw;
            margin-inline: auto;
            text-align: center;
            font-size: var(--header-large);
          }

          & > button:nth-child(2) {
            height: 4rem;
            width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: var(--font-medium);
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            color: #fff;

            & > span {
              font-size: var(--font-medium);
            }
          }

          & > button:nth-child(3) {
            width: 15.3rem;
            height: 4rem;
            background-color: #00c1e88e;
            border-radius: 3rem;
            -webkit-border-radius: 3rem;
            -moz-border-radius: 3rem;
            -ms-border-radius: 3rem;
            -o-border-radius: 3rem;
            border: none;
            outline: none;
            color: #000;
            font-size: var(--font-medium);
            font-weight: 600;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              background-color: #00c1e8;
            }
          }
        }
      }
    }
  }

  .topCampaignsContainer {
    padding: 1.5rem;

    & > div {
      & > div {
        flex-direction: column;
        gap: 2rem;

        & > div {
          width: 90vw !important;
          margin-inline: auto !important;
        }
      }
    }
  }

  .featureContainer {
    padding-inline: 0rem;
    padding-block: 2rem;

    & > div {
      & > h2 {
        margin-inline: auto;
        width: 90vw;
      }

      & > button {
        margin-block: 4rem;
      }
    }
  }

  .featureCardContainer {
    display: none;
  }

  .featureCardMobileContainer {
    display: block;
    padding: 1rem;
  }

  .newsContainer {
    padding-block: 2rem;
    padding-inline: 1.5rem;

    & > div {
      & > h2 {
        margin-inline: auto;
        width: 90vw;
      }

      & > div {
        & > img {
          display: none;
        }

        & > div {
          width: 100%;
          gap: 0rem;

          & > h2 {
            text-align: center;
          }

          & > button {
            display: inline-block;
            width: 100%;
            height: 6rem;
            background-color: #000000;
            border-radius: 1.5rem;
            -webkit-border-radius: 1.5rem;
            -moz-border-radius: 1.5rem;
            -ms-border-radius: 1.5rem;
            -o-border-radius: 1.5rem;
            text-transform: uppercase;
            border: none;
            outline: none;
            cursor: pointer;
            color: #ffffff;
            font-weight: 700;
            font-size: var(--font-medium);
          }
        }
      }
    }
  }

  .blimp_content_container {
    width: 100%;
    border-radius: 0rem;

    & > div {
      width: 80%;
    }
  }

  .heroCarouselContainer {
    padding-inline: 1.5rem;
    padding-top: 1.5rem;
    display: block;

    & > div {
      flex-direction: column;
      min-height: 100%;
      max-height: 100%;
      gap: 0rem;

      & > div:nth-child(1) {
        width: 100%;
        min-height: 20rem;
        max-height: 20rem;
        margin-bottom: 2rem;

        & > img {
          width: 100%;
          max-height: inherit;
        }
      }

      & > div:nth-child(2) {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  .heroContainer {
    height: 50rem;
    padding-inline: 1.5rem;

    & > div {
      width: 100%;
    }

    &::after {
      height: inherit;
    }
  }

  .heroContent {
    height: max-content;
    gap: 2rem;

    & > h1 {
      margin: 0rem;
    }

    & > button {
      min-height: 4rem;
    }
  }

  .impactContainer {
    height: auto;
    flex-direction: column;
    padding-block: 1.5rem 0rem;
    padding-inline: 0rem;
    gap: 2rem;

    & > div {
      & > h2 {
        width: 90vw;
        margin-inline: auto;
      }

      & > div {
        display: flex;
        flex-direction: column;
        gap: 0rem;

        & > img {
          width: 100%;
          height: 35rem;
        }

        & > div {
          display: none;
        }

        .impactMobileContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;
          background-color: #000;
          width: 100%;
          padding-block: 2rem;

          & > h3 {
            color: #fff;
            text-transform: capitalize;
            margin: 0rem !important;
            width: 90vw;
            margin-inline: auto;
            text-align: center;
            font-size: var(--header-large);
          }

          & > button:nth-child(2) {
            height: 4rem;
            width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: var(--font-medium);
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            color: #fff;

            & > span {
              font-size: var(--font-medium);
            }
          }

          & > button:nth-child(3) {
            width: 15.3rem;
            height: 4rem;
            background-color: #00c1e88e;
            border-radius: 3rem;
            -webkit-border-radius: 3rem;
            -moz-border-radius: 3rem;
            -ms-border-radius: 3rem;
            -o-border-radius: 3rem;
            border: none;
            outline: none;
            color: #000;
            font-size: var(--font-medium);
            font-weight: 600;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              background-color: #00c1e8;
            }
          }
        }
      }
    }
  }

  .topCampaignsContainer {
    padding: 1.5rem;

    & > div {
      & > div {
        flex-direction: column;
        gap: 2rem;

        & > div {
          width: 90vw !important;
          margin-inline: auto !important;
        }
      }
    }
  }

  .featureContainer {
    padding-inline: 0rem;
    padding-block: 2rem;

    & > div {
      & > h2 {
        margin-inline: auto;
        width: 90vw;
      }

      & > button {
        margin-block: 4rem;
      }
    }
  }

  .featureCardContainer {
    display: none;
  }

  .featureCardMobileContainer {
    display: block;
    padding: 1.5rem;
  }

  .newsContainer {
    padding-block: 2rem;
    padding-inline: 1.5rem;

    & > div {
      & > h2 {
        margin-inline: auto;
        width: 90vw;
      }

      & > div {
        & > img {
          display: none;
        }

        & > div {
          width: 100%;
          gap: 1rem;

          & > h2 {
            text-align: center;
          }

          & > button {
            display: inline-block;
            width: 100%;
            height: 6rem;
            background-color: #000000;
            border-radius: 1.5rem;
            -webkit-border-radius: 1.5rem;
            -moz-border-radius: 1.5rem;
            -ms-border-radius: 1.5rem;
            -o-border-radius: 1.5rem;
            text-transform: uppercase;
            border: none;
            outline: none;
            cursor: pointer;
            color: #ffffff;
            font-weight: 700;
            font-size: var(--font-medium);
          }
        }
      }
    }
  }

  .heroCarouselContainer {
    padding-inline: 1.5rem;
    padding-top: 1.5rem;
    display: block;

    & > div {
      flex-direction: column;
      min-height: 100%;
      max-height: 100%;
      gap: 0rem;

      & > div:nth-child(1) {
        width: 100%;
        min-height: 20rem;
        max-height: 20rem;
        margin-bottom: 2rem;

        & > img {
          width: 100%;
          max-height: inherit;
        }
      }

      & > div:nth-child(2) {
        width: 100%;
        height: auto;
      }
    }
  }
}
