.newsContainer {
  padding-block: 4rem;
  padding-inline: 7.5rem;
  background-color: var(--bg-primary);

  & > div {
    display: flex;
    gap: 6rem;
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;

    & > img {
      width: 50%;
      height: 56rem;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      object-fit: cover;
    }

    & > div {
      width: 50%;
      height: min(56rem, auto);
      display: flex;
      flex-direction: column;
      gap: 4rem;

      & > h2 {
        font-size: var(--header-large);
      }

      & > button {
        display: none;
      }
    }
  }
}

.blogCardContainer {
  padding-inline: 7.5rem;

  & > div {
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2rem;
  }

  & > button {
    width: fit-content;
    height: 4.4rem;
    padding-inline: 4rem;
    background-color: #ffffff;
    border: 0.2rem solid rgba(0, 0, 0, 1);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: var(--font-medium);
    font-weight: var(--btn-font-weight);
    margin-inline: auto;
    margin-block: 2rem;
  }
}

.newsPaginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .newsContainer {
    padding: 1.5rem;

    & > div {
      flex-direction: column;
      gap: 2rem;

      & > div:nth-child(1) {
        width: 100%;
      }

      & > div:nth-child(2) {
        width: 100%;
        gap: 0rem;

        & > button {
          margin-top: 2rem;
          display: inline-block;
          width: 100%;
          height: 6rem;
          background-color: var(--text-primary) 000;
          border-radius: 1.5rem;
          -webkit-border-radius: 1.5rem;
          -moz-border-radius: 1.5rem;
          -ms-border-radius: 1.5rem;
          -o-border-radius: 1.5rem;
          text-transform: uppercase;
          border: none;
          outline: none;
          cursor: pointer;
          color: #ffffff;
          font-weight: var(--btn-font-weight);
          font-size: var(--font-medium);
        }
      }
    }
  }

  .blogCardContainer {
    padding-inline: 1.5rem;

    & > div {
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 1200px) {
  .newsContainer {
    padding: 1.5rem;

    & > div {
      flex-direction: column;
      gap: 2rem;

      & > div:nth-child(1) {
        width: 100%;
      }

      & > div:nth-child(2) {
        width: 100%;

        & > button {
          display: inline-block;
          width: 100%;
          height: 6rem;
          background-color: var(--text-primary) 000;
          border-radius: 1.5rem;
          -webkit-border-radius: 1.5rem;
          -moz-border-radius: 1.5rem;
          -ms-border-radius: 1.5rem;
          -o-border-radius: 1.5rem;
          text-transform: uppercase;
          border: none;
          outline: none;
          cursor: pointer;
          color: #ffffff;
          font-weight: var(--btn-font-weight);
          font-size: var(--font-medium);
        }
      }
    }
  }

  .blogCardContainer {
    padding-inline: 1.5rem;

    & > div {
      margin-top: 2rem;
    }
  }
}
