.focusContainer {
  background-color: rgba(242, 245, 248, 1);
  height: 20.9rem;
  padding-inline: 7.2rem;
  padding-block: 6rem;

  &>div {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;
  }
}

.focusItem {
  display: flex;
  gap: 2rem;
  height: 9rem;

  &>img {
    width: 4.8rem;
    height: 4.8rem;
  }

  &>div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &>h2 {
      font-size: 2.4rem;
      font-weight: 800;
    }

    &>p {
      font-size: var(--font-medium);
      font-weight: 400;
      line-height: 2.4rem;
      color: var(--text-secondary);
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .focusContainer {
    padding-block: 3rem;
    padding-inline: 3rem;
    flex-direction: column;
    height: auto;
  }

  .focusItem {
    &>div {
      &>h2 {
        font-size: 2rem;
        font-weight: 800;
      }

      &>p {
        font-size: var(--font-small);
      }
    }
  }
}


@media screen and (min-width: 431px) and (max-width: 1200px) {
  .focusContainer {
    padding-block: 3rem;
    padding-inline: 3rem;
    flex-wrap: wrap;
    /* flex-direction: column; */
    height: auto;
  }

  .focusItem {
    flex-basis: calc((100% - 2rem) / 2);

    &>div {
      &>h2 {
        font-size: 2rem;
        font-weight: 800;
      }

      &>p {
        font-size: var(--font-small);
      }
    }
  }
}