.missionCardWrapper {
  display: flex;
  align-items: center;
  gap: 4rem;

  & > img {
    width: 50%;
    height: 40rem;
    margin-block: 4rem;
    object-fit: cover;
  }

  & > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > h2 {
      font-size: var(--header-large);
      text-transform: capitalize;
    }

    & > p {
      font-size: var(--font-medium);
      color: var(--text-secondary);
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .missionCardWrapper {
    flex-direction: column;
    gap: 2rem;

    & > img,
    & > div {
      width: 100%;
    }

    & > img {
      margin-block: 1rem;
      height: 20.9rem;
    }

    & > div {
      gap: 2rem;
      margin-bottom: 1.5rem;
    }
  }
}


@media screen and (min-width: 431px) and (max-width: 1200px) {
  .missionCardWrapper {
    flex-direction: column;
    gap: 2rem;

    & > img,
    & > div {
      width: 100%;
    }

    & > img {
      margin-block: 1rem;
      height: 20.9rem;
    }

    & > div {
      gap: 2rem;
      margin-bottom: 1.5rem;
    }
  }
}
