.container {
  display: flex;
  gap: 4rem;
  padding: 2rem;
  min-height: 80vh;
  background-color: var(--bg-primary);
}

.content {
  flex: 1;
  padding: 2rem;
  background:rgba(242, 245, 248, 1);
  border-radius: var(--button-radius);
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);
  -ms-border-radius: var(--button-radius);
  -o-border-radius: var(--button-radius);
}
