.newsDetailContainer {

  padding: 0rem 7.5rem 7.5rem 7.5rem;

  &>div {
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &>h2 {
      font-size: var(--subheader-large);
      line-height: var(--subheader-large-lineheight);
      font-weight: 800;
    }

    &>img {
      width: 100%;
      height: 56rem;
      border-radius: var(--button-radius);
      -webkit-border-radius: var(--button-radius);
      -moz-border-radius: var(--button-radius);
      -ms-border-radius: var(--button-radius);
      -o-border-radius: var(--button-radius);
    }

    &>div {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &>h2 {
        font-size: var(--subheader-small);
        line-height: var(--subheader-small-lineheight);
      }

      &>p {
        font-size: var(--font-medium);
        color: var(--text-secondary);
      }
    }

    &>ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-inline: 1.5rem;

      &>li {
        font-size: var(--font-medium);
        color: var(--text-secondary);

        &>b {
          color: #000;
        }
      }
    }

    &>button {
      height: 4rem;
      width: fit-content;
      padding-inline: 3rem;
      border-radius: 3rem;
      -webkit-border-radius: 3rem;
      -moz-border-radius: 3rem;
      -ms-border-radius: 3rem;
      -o-border-radius: 3rem;
      cursor: pointer;
      border: none;
      outline: none;
      font-size: var(--font-large);
      font-weight: 700;
      background-color: #8FD600;
    }

    .addsContainer {
      height: 28.7rem;
      background-color: rgba(217, 217, 217, 1);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.blogsContainer {

  background-color: var(--bg-primary);

  &>div {
    padding-inline: 7.5rem;
    padding-block: 6rem;

    &>div {
      width: min(100%, var(--maximum-screen-width));
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &>h2 {
        font-size: var(--subheader-large);
        font-weight: 700;
        line-height: var(--subheader-large-lineheight);
        text-transform: capitalize;
      }

      &>button {
        width: 19.3rem;
        height: 4rem;
        background-color: #ffffff;
        border: 0.2rem solid rgba(0, 0, 0, 1);
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        &>span {
          font-size: var(--font-medium);
          font-weight: 700;
        }
      }
    }

    &>button:nth-child(3) {
      display: none;
    }
  }
}

.blogCardContainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .newsDetailContainer {
    padding: 1.5rem;
    gap: 2rem;

    &>h2 {
      font-size: var(--subheader-small);
      line-height: var(--subheader-small-lineheight);
    }

    &>img {
      height: 20.8rem;
    }
  }

  .blogsContainer {

    &>div {
      padding-inline: 1.5rem;

      &>div {
        display: block;

        &>h2 {
          font-size: var(--subheader-small);
          line-height: var(--subheader-small-lineheight);
          text-align: center;
          text-transform: capitalize;
        }

        &>button {
          display: none;
        }
      }

      &>button:nth-child(3) {
        display: block;
        margin-inline: auto;
        margin-block: 2rem;
        height: 3.6rem;
        width: 15.7rem;
        border-radius: 1.6rem;
        -webkit-border-radius: 1.6rem;
        -moz-border-radius: 1.6rem;
        -ms-border-radius: 1.6rem;
        -o-border-radius: 1.6rem;
        border: 0.2rem solid #000000;
        background-color: transparent;
        font-size: var(--font-medium);
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  /* .blogsContainer {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;

    &>div {
      display: block;

      &>h2 {
        font-size: var(--subheader-small);
        line-height: var(--subheader-small-lineheight);
        text-align: center;
        text-transform: capitalize;
      }

      &>button {
        display: none;
      }
    }

    &>button:nth-child(3) {
      display: block;
      margin-inline: auto;
      margin-block: 2rem;
      height: 3.6rem;
      width: 15.7rem;
      border-radius: 1.6rem;
      -webkit-border-radius: 1.6rem;
      -moz-border-radius: 1.6rem;
      -ms-border-radius: 1.6rem;
      -o-border-radius: 1.6rem;
      border: 0.2rem solid #000000;
      background-color: transparent;
      font-size: var(--font-medium);
      font-weight: 600;
      cursor: pointer;
    }
  } */
}

/* @media screen and (min-width: 431px) and (max-width: 1200px) {
  .newsDetailContainer {
    padding: 1.5rem;
    gap: 2rem;

    &>h2 {
      font-size: var(--subheader-small);
      line-height: var(--subheader-small-lineheight);
    }

    &>img {
      height: 20.8rem;
    }
  }

  .blogsContainer {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
  }
} */