.newscardItem {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > p {
      font-size: var(--font-vsmall);
      color: var(--text-secondary);
    }

    & > h2 {
      font-size: var(--font-semi-large);
      font-weight: var(--btn-font-weight);
      max-width: 60%;
    }
  }

  & > img {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .newscardItem {
    & > div {
      & > h2 {
        max-width: 100%;
      }
    }
  }
}
