@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "normalize.css";
@import "react-international-phone/style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  /* Font smoothing and anti-aliasing */
  -webkit-font-smoothing: antialiased;
  /* for Webkit (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale;
  /* for Firefox on macOS */
  text-rendering: optimizeLegibility;
  /* improves legibility */
  -webkit-tap-highlight-color: transparent;
}


/* Fix Safari turning text purple on click/visited */
button,
button:visited,
button:active,
button:focus{
  color: var(--text-primary) !important;
  -webkit-text-fill-color: var(--text-primary) !important; 
}

:root {
  font-size: 62.5%;
  --font-large: 2.2rem;
  --font-semi-large: 1.8rem;
  --font-medium: 1.6rem;
  --font-small: 1.4rem;
  --font-vsmall: 1.2rem;

  --header-large: 4rem;
  --header-semi-large: 3rem;
  --btn-font-weight: 600;
  --input-height: 4.5rem;

  --icon-size: 2.2rem;
  --button-radius: 1rem;
  --subheader-large: 5rem;
  --subheader-large-lineheight: 6rem;
  --subheader-small: 2.4rem;
  --subheader-small-lineheight: 2.5rem;
  --maximum-screen-width: 1440px;
}

@media (max-width: 768px) {
  :root {
    --font-large: 1.8rem;
    --font-semi-large: 1.6rem;
    --font-medium: 1.4rem;
    --font-small: 1.2rem;
    --font-vsmall: 1rem;
    --header-large: 2.5rem;
    --header-semi-large: 1.8rem;
  }
}

body[data-theme="light"] {
  --bg-primary: #fff;
  --text-primary: #000000;
  --text-primary-white: #fff;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --header-textcolor: #fcc535;
  --button-bgcolor-1: #fcc535;
  --button-bgcolor-2: #ffffff;
  --footer-bgcolor: rgba(26, 26, 26, 1);
  --border-color: rgba(137, 137, 137, 1);
  --theme-color: #8fd600;

  --btn-base-color: #00c1e88e;
  --btn-hover-color: #00c1e8;
  --btn-base-black-color: #0000008e;
  --btn-hover-black-color: #000;
}

body[data-theme="dark"] {
  --bg-primary: #000000;
}

/* .react-international-phone-input-container {
  background-color: rgba(248, 249, 250, 1);
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.react-international-phone-input-container .react-international-phone-input {
  width: 100%;
  border: none;
  background-color: transparent;
}

.react-international-phone-country-selector-button {
  background-color: transparent;
  border: none;
  padding-left: 0.5rem;
} */

.react-international-phone-country-selector-dropdown {
  /* display: block !important; */
}

.input-error-message {
  font-size: var(--font-small);
  font-weight: 500;
  color: red;
}

/* Range Slider as a Single Thumb Slider */
.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}
.single-thumb .range-slider__range {
  border-radius: 6px;
}
