@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root {
  font-size: 62.5%;
  --font-large: 1.8rem;
  --font-medium: 1.6rem;
  --font-small: 1.4rem;
  --font-vsmall: 1.2rem;
}

body[data-theme="light"] {
  --bg-primary: #efefef;
}

body[data-theme="dark"] {
  --bg-primary: #000000;
}
