@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "normalize.css";
@import "react-international-phone/style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root {
  font-size: 62.5%;
  --font-large: 1.8rem;
  --font-medium: 1.6rem;
  --font-small: 1.4rem;
  --font-vsmall: 1.2rem;
  --icon-size: 2.2rem;
  --button-radius: 1rem;
  --subheader-large: 5rem;
  --subheader-large-lineheight: 6rem;
  --subheader-small: 2.4rem;
  --subheader-small-lineheight: 2.5rem;
  --maximum-screen-width: 1440px;
}

body[data-theme="light"] {
  --bg-primary: #fff;
  --text-primary: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --header-textcolor: #fcc535;
  --button-bgcolor-1: #fcc535;
  --button-bgcolor-2: #ffffff;
  --footer-bgcolor: rgba(26, 26, 26, 1);
  --border-color: rgba(137, 137, 137, 1);
  --theme-color: #8fd600;
}

body[data-theme="dark"] {
  --bg-primary: #000000;
}

/* .react-international-phone-input-container {
  background-color: rgba(248, 249, 250, 1);
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.react-international-phone-input-container .react-international-phone-input {
  width: 100%;
  border: none;
  background-color: transparent;
}

.react-international-phone-country-selector-button {
  background-color: transparent;
  border: none;
  padding-left: 0.5rem;
} */

.react-international-phone-country-selector-dropdown {
  /* display: block !important; */
}

.input-error-message {
  font-size: var(--font-small);
  font-weight: 500;
  color: red;
}

/* Range Slider as a Single Thumb Slider */
.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}
.single-thumb .range-slider__range {
  border-radius: 6px;
}
