@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root {
  font-size: 62.5%;
  --font-large: 1.8rem;
  --font-medium: 1.6rem;
  --font-small: 1.4rem;
  --font-vsmall: 1.2rem;
  --icon-size: 2.2rem;
  --button-radius: 1rem;
  --subheader-large: 5rem;
  --subheader-large-lineheight: 6rem;
  --subheader-small: 2.4rem;
  --subheader-small-lineheight: 2.5rem

}

body[data-theme="light"] {
  --bg-primary: #fff;
  --text-primary: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --header-textcolor: #FCC535;
  --button-bgcolor-1: #FCC535;
  --button-bgcolor-2: #ffffff;
  --footer-bgcolor: rgba(26, 26, 26, 1);
  --border-color: rgba(137, 137, 137, 1);
}

body[data-theme="dark"] {
  --bg-primary: #000000;
}
