.progressContainer {
    padding: 1rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    background-color: #F2F4F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        &>p:nth-child(1) {
            font-size: var(--font-medium) !important;
        }

        &>p:nth-child(2) {
            font-size: var(--font-vsmall) !important;
            color: #6C757D;
        }
    }

    .circularProgressbar {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: rgba(108, 235, 40, 1);
        padding: 0.4rem;

        &>div {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background-color: var(--bg-primary);
            display: flex;
            justify-content: center;
            align-items: center;

            &>p {
                font-size: var(--font-vsmall);
            }
        }
    }
}