.missionContainer {
  padding-inline: 7.5rem;
}

.vissionContainer {
  padding: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &>div {
    &>h2 {
      font-size: var(--subheader-large);
      text-transform: capitalize;
    }
  }

  &>img {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    object-fit: cover;
  }

  &>div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 4rem;

    &>div {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      &>h2 {
        font-size: var(--subheader-small);
        line-height: var(--subheader-small-lineheight);
        text-transform: capitalize;
      }

      &>p {
        font-size: var(--font-medium);
        line-height: 2.8rem;
        font-weight: 400;
        color: var(--text-secondary);
      }

      &>button {
        width: max-content;
        height: 4rem;
        padding-inline: 2rem;
        border-radius: var(--button-radius);
        -webkit-border-radius: var(--button-radius);
        -moz-border-radius: var(--button-radius);
        -ms-border-radius: var(--button-radius);
        -o-border-radius: var(--button-radius);
        display: flex;
        align-items: center;
        gap: 1rem;
        border: none;
        outline: none;
        cursor: pointer;

        &>p {
          text-transform: uppercase;
          font-weight: 600;
        }

        &>span {
          display: grid;
          place-items: center;
          font-size: 1.8rem;
        }
      }
    }

    &>div:nth-child(1) {
      &>button {
        /* background: transparent; */

        &>span {
          /* color:#FCC535; */
        }
      }
    }

    &>div:nth-child(2) {
      &>button {
        background-color: #FCC535;
      }
    }
  }
}

.blogsContainer {
  padding-inline: 7.2rem;
  padding-block: 6rem;
  background-color: var(--bg-primary);

  &>div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>h2 {
      font-size: var(--subheader-large);
      font-weight: 800;
      line-height: var(--subheader-large-lineheight);
      text-transform: capitalize;
    }

    &>button {
      width: 20rem;
      height: 6rem;
      background-color: #ffffff;
      border: 0.2rem solid rgba(0, 0, 0, 1);
      border-radius: 1.6rem;
      -webkit-border-radius: 1.6rem;
      -moz-border-radius: 1.6rem;
      -ms-border-radius: 1.6rem;
      -o-border-radius: 1.6rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      &>span {
        font-size: var(--font-medium);
        font-weight: 700;
      }
    }
  }

  &>button:nth-child(3) {
    display: none;
  }
}

.blogCardContainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .missionContainer {
    padding-inline: 1.5rem;
  }

  .vissionContainer {
    padding: 1.5rem;
    gap: 2rem;

    &>div {
      &>h2 {
        font-size: var(--subheader-small);
        line-height: var(--subheader-small-lineheight);
        text-transform: capitalize;
        text-align: center;
      }
    }

    &>div:nth-child(3) {
      flex-direction: column;
      /* gap: 2rem; */

      &>div {
        gap: 2rem;
      }
    }
  }

  .blogsContainer {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;

    &>div {
      display: block;

      &>h2 {
        font-size: var(--subheader-small);
        line-height: var(--subheader-small-lineheight);
        text-align: center;
        text-transform: capitalize;
      }

      &>button {
        display: none;
      }
    }

    &>button:nth-child(3) {
      display: block;
      margin-inline: auto;
      margin-block: 2rem;
      height: 3.6rem;
      width: 15.7rem;
      border-radius: 1.6rem;
      -webkit-border-radius: 1.6rem;
      -moz-border-radius: 1.6rem;
      -ms-border-radius: 1.6rem;
      -o-border-radius: 1.6rem;
      border: 0.2rem solid #000000;
      background-color: transparent;
      font-size: var(--font-medium);
      font-weight: 600;
      cursor: pointer;
    }
  }
}


@media screen and (min-width: 431px) and (max-width: 1200px) {
  .missionContainer {
    padding-inline: 1.5rem;
  }

  .vissionContainer {
    padding: 1.5rem;
    gap: 2rem;

    &>div {
      &>h2 {
        font-size: var(--subheader-small);
        line-height: var(--subheader-small-lineheight);
        text-transform: capitalize;
        text-align: center;
      }
    }

    &>div:nth-child(3) {
      flex-direction: column;
      /* gap: 2rem; */

      &>div {
        gap: 2rem;
      }
    }
  }

  .blogsContainer {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;

    &>div {

      &>h2 {
        font-size: var(--subheader-small);
        line-height: var(--subheader-small-lineheight);
        text-align: center;
        text-transform: capitalize;
      }

      &>button {
        display: none;
      }
    }

    &>button:nth-child(3) {
      display: block;
      margin-inline: auto;
      margin-block: 2rem;
      height: 3.6rem;
      width: 15.7rem;
      border-radius: 1.6rem;
      -webkit-border-radius: 1.6rem;
      -moz-border-radius: 1.6rem;
      -ms-border-radius: 1.6rem;
      -o-border-radius: 1.6rem;
      border: 0.2rem solid #000000;
      background-color: transparent;
      font-size: var(--font-medium);
      font-weight: 600;
      cursor: pointer;
    }
  }
}