.about_wrapper_container {
  width: 100%;
  padding-inline: 7.5rem;
}

.about_wrapper_content_container {
  width: min(100%, var(--maximum-screen-width));
  margin-inline: auto;
}

.vissionContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  & > div {
    & > h2 {
      font-size: var(--header-large);
      text-transform: capitalize;
    }
  }

  & > img {
    object-fit: cover;
  }

  & > div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 4rem;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & > h2 {
        text-transform: capitalize;
        font-size: var(--font-large);
      }

      & > p {
        font-size: var(--font-medium);
        color: var(--text-secondary);
      }

      & > button {
        width: max-content;
        height: 4rem;
        padding-inline: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;

        & > p {
          font-size: var(--font-medium);
          font-weight: var(--btn-font-weight);
        }

        & > span {
          display: grid;
          place-items: center;
          font-size: var(--font-medium);
          font-weight: var(--btn-font-weight);
        }
      }
    }

    & > div:nth-child(2) {
      & > button {
        background-color: var(--btn-base-color);
        color: #000000;
        transition: 0.3s ease-in;

        &:hover {
          background-color: var(--btn-hover-color);
        }
      }
    }
  }
}

.blogsContainer {
  padding-block: 6rem;
  background-color: var(--bg-primary);

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h2 {
      font-size: var(--header-large);
      text-transform: capitalize;
    }

    & > button {
      width: 19.3rem;
      height: 4rem;
      background-color: #ffffff;
      border: 0.2rem solid rgba(0, 0, 0, 1);
      border-radius: 3rem;
      -webkit-border-radius: 3rem;
      -moz-border-radius: 3rem;
      -ms-border-radius: 3rem;
      -o-border-radius: 3rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      & > span {
        font-size: var(--font-medium);
        font-weight: 700;
      }
    }
  }

  & > button:nth-child(3) {
    display: none;
  }
}

.blogCardContainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .about_wrapper_container {
    padding-inline: 1.5rem;
  }

  .vissionContainer {
    gap: 2rem;

    & > div {
      & > h2 {
        text-transform: capitalize;
        text-align: center;
      }
    }

    & > div:nth-child(3) {
      flex-direction: column;

      & > div {
        gap: 2rem;
      }
    }
  }

  .blogsContainer {
    & > div {
      display: block;

      & > h2 {
        text-align: center;
        text-transform: capitalize;
      }

      & > button {
        display: none;
      }
    }

    & > button:nth-child(3) {
      display: block;
      margin-inline: auto;
      margin-top: 2rem;
      height: 3.6rem;
      width: 15.7rem;
      border-radius: 1.6rem;
      -webkit-border-radius: 1.6rem;
      -moz-border-radius: 1.6rem;
      -ms-border-radius: 1.6rem;
      -o-border-radius: 1.6rem;
      border: 0.2rem solid #000000;
      background-color: transparent;
      font-size: var(--font-medium);
      font-weight: 600;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 1200px) {
  .about_wrapper_container {
    padding-inline: 1.5rem;
  }

  .vissionContainer {
    gap: 2rem;

    & > div {
      & > h2 {
        text-transform: capitalize;
        text-align: center;
      }
    }

    & > div:nth-child(3) {
      flex-direction: column;

      & > div {
        gap: 2rem;
      }
    }
  }

  .blogsContainer {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;

    & > div {
      & > h2 {
        text-align: center;
        text-transform: capitalize;
      }

      & > button {
        display: none;
      }
    }

    & > button:nth-child(3) {
      display: block;
      margin-inline: auto;
      margin-block: 2rem;
      height: 3.6rem;
      width: 15.7rem;
      border-radius: 1.6rem;
      -webkit-border-radius: 1.6rem;
      -moz-border-radius: 1.6rem;
      -ms-border-radius: 1.6rem;
      -o-border-radius: 1.6rem;
      border: 0.2rem solid #000000;
      background-color: transparent;
      font-size: var(--font-medium);
      font-weight: var(--btn-font-weight);
      cursor: pointer;
    }
  }
}
