.featureDetailContainer {
  padding: 0rem 7.5rem 7.5rem 7.5rem;

  & > div {
    width: min(100%, var(--maximum-screen-width));
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > h2 {
      font-size: var(--font-large);
    }

    & > img {
      width: 100%;
      height: 56rem;
      border-radius: var(--button-radius);
      -webkit-border-radius: var(--button-radius);
      -moz-border-radius: var(--button-radius);
      -ms-border-radius: var(--button-radius);
      -o-border-radius: var(--button-radius);
      object-fit: cover;
    }

    .linkContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: max-content;

        & > button {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          background-color: transparent;
          border: 0.2rem solid rgba(255, 255, 255, 1);
          display: grid;
          place-items: center;
          color: #ffffff;
          padding: 0.5rem;
          cursor: pointer;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          background-color: rgba(10, 132, 255, 1);
        }
      }

      & > div:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 2rem;
        & > button {
          width: fit-content;
          height: 4rem;
          border-radius: 3rem;
          -webkit-border-radius: 3rem;
          -moz-border-radius: 3rem;
          -ms-border-radius: 3rem;
          -o-border-radius: 3rem;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: var(--font-medium);
          font-weight: var(--btn-font-weight);
          /* text-transform: uppercase; */
          padding-inline: 4rem;
        }

        & > button:nth-child(1) {
          background-color: var(--btn-base-black-color);
          color: #fff;
          transition: 0.3s ease-in;
          text-transform: capitalize;

          &:hover {
            background-color: #000;
          }
        }

        & > button:nth-child(2) {
          background-color: var(--btn-base-color);
          color: #000;
          transition: 0.3s ease-in;
          text-transform: capitalize;

          &:hover{
            background-color: var(--btn-hover-color);
          }
        }
      }
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & > h2 {
        font-size: var(--font-large);
      }

      & > p {
        font-size: var(--font-vsmall);
        color: var(--text-secondary);
      }
    }

    & > ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-inline: 1.5rem;

      & > li {
        font-size: var(--font-medium);
        color: var(--text-secondary);

        & > b {
          color: #000;
        }
      }
    }

    .addGalleryContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;

      & > img {
        flex: 1;
        min-width: 22.5rem;
        height: 17.6rem;
      }
    }

    .addsContainer {
      height: 28.7rem;
      background-color: rgba(217, 217, 217, 1);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .supporterContainer {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & > h2 {
        text-align: center;
      }

      & > div {
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }

    .supporterItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;

      & > div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 1rem;

        & > img {
          width: 5rem;
          height: 5rem;
        }

        & > span {
          width: 5rem;
          height: 5rem;
        }

        & > div {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(217, 217, 217, 1);

          & > h2 {
            font-size: 3.2rem;
            text-transform: uppercase;
          }
        }
      }

      & > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > h3 {
          font-size: var(--font-medium);
          font-weight: 600;
          text-transform: capitalize;
        }

        & > p {
          padding: 0.5rem 1rem;
          background-color: #000;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: var(--font-vsmall);
        }
      }

      & > div:nth-child(3) {
        display: flex;
        align-items: center;
        gap: 2rem;

        & > h3 {
          font-size: var(--font-medium);
          font-weight: 600;
        }

        & > p {
          font-size: var(--font-medium);
        }
      }
    }
  }
}

.supporterPaginationContainer {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;

  & > button {
    height: 1rem;
    width: 2rem;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

.blogsContainer {
  background-color: var(--bg-primary);

  & > div {
    padding-inline: 7.5rem;
    padding-block: 6rem;

    & > div {
      width: min(100%, var(--maximum-screen-width));
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > h2 {
        font-size: var(--header-large);
        text-transform: capitalize;
      }

      & > button {
        width: 19.3rem;
        height: 4rem;
        background-color: #ffffff;
        border: 0.2rem solid rgba(0, 0, 0, 1);
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        & > span {
          font-size: var(--font-medium);
          font-weight: 600;
          text-transform: lowercase;
        }
      }
    }

    & > button:nth-child(3) {
      display: none;
    }
  }
}

.blogCardContainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 430px) {
  .featureDetailContainer {
    padding: 1.5rem;

    & > div {
      gap: 2rem;

      & > img {
        height: 20.8rem;
      }

      .supporterContainer {
        & > h2 {
          text-align: start;
        }

        & > div {
          margin-inline: initial;

          .supporterItem {
            width: 100%;
            min-height: 8.8rem;
            gap: 1rem;
            justify-content: space-evenly;

            & > div:nth-child(1) {
              & > img {
                width: 3rem;
                height: 3rem;
              }

              & > div {
                width: 5.5rem;
                height: 5.5rem;
              }

              & > span {
                width: 3rem;
                height: 3rem;
              }
            }

            & > div:nth-child(2) {
              & > h3 {
                font-size: var(--font-small);
                text-align: center;
              }
            }

            & > div:nth-child(3) {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              & > p {
                font-size: var(--font-medium);
                color: var(--text-secondary);
              }

              & > h3 {
                text-align: center;
                font-size: var(--font-large);
              }
            }
          }
        }
      }
    }
  }

  .linkContainer {
    flex-direction: column !important;
    align-items: center !important;
    gap: 2rem;

    & > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      & > button {
        width: fit-content;
        height: 4rem;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.4rem !important;
        font-weight: 600;
        text-transform: uppercase;
        padding-inline: 2rem;
        /* background-color: var(--btn-hover-color); */
      }

      & > button:nth-child(1) {
        background-color: #000;
        color: #fff;
      }

      & > button:nth-child(2) {
        background-color: var(--btn-hover-color);
        color: #000;
      }
    }
  }

  .blogsContainer {
    & > div {
      padding-inline: 1.5rem;

      & > div {
        display: block;

        & > h2 {
          text-align: center;
          text-transform: capitalize;
        }

        & > button {
          display: none;
        }
      }

      & > button:nth-child(3) {
        display: block;
        margin-inline: auto;
        margin-top: 2rem;
        height: 3.6rem;
        width: 15.7rem;
        border-radius: 1.6rem;
        -webkit-border-radius: 1.6rem;
        -moz-border-radius: 1.6rem;
        -ms-border-radius: 1.6rem;
        -o-border-radius: 1.6rem;
        border: 0.2rem solid #000000;
        background-color: transparent;
        font-size: var(--font-medium);
        font-weight: var(--btn-font-weight);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 431px) and (max-width: 1200px) {
  .featureDetailContainer {
    padding: 1.5rem;

    & > div {
      gap: 2rem;

      & > h2 {
        font-size: var(--subheader-small);
        line-height: var(--subheader-small-lineheight);
      }

      & > img {
        height: 30.8rem;
      }

      .supporterContainer {
        & > h2 {
          text-align: start;
        }

        & > div {
          margin-inline: initial;

          .supporterItem {
            width: 100%;
            min-height: 8.8rem;
            gap: 1rem;
            justify-content: space-evenly;

            & > div:nth-child(1) {
              & > img {
                width: 3rem;
                height: 3rem;
              }

              & > div {
                width: 5.5rem;
                height: 5.5rem;

                & > h2 {
                  font-size: 2.2rem;
                }
              }

              & > span {
                width: 3rem;
                height: 3rem;
              }
            }

            & > div:nth-child(2) {
              & > h3 {
                font-size: var(--font-small);
                text-align: center;
              }
            }

            & > div:nth-child(3) {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              & > p {
                font-size: var(--font-medium);
                color: var(--text-secondary);
              }

              & > h3 {
                text-align: center;
                font-size: var(--font-large);
              }
            }
          }
        }
      }
    }
  }

  .linkContainer {
    flex-direction: column !important;
    align-items: center !important;
    gap: 2rem;

    & > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      & > button {
        width: fit-content;
        height: 4rem;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.4rem !important;
        font-weight: 600;
        text-transform: uppercase;
        padding-inline: 2rem;
        /* background-color: var(--btn-hover-color); */
      }

      & > button:nth-child(1) {
        background-color: #000;
        color: #fff;
      }

      & > button:nth-child(2) {
        background-color: var(--btn-hover-color);
        color: #000;
      }
    }
  }

  .blogsContainer {
    & > div {
      padding-inline: 1.5rem;

      & > div {
        /* display: block; */

        & > h2 {
          font-size: var(--subheader-small);
          line-height: var(--subheader-small-lineheight);
          text-align: center;
          text-transform: capitalize;
        }

        & > button {
          display: none;
        }
      }

      & > button:nth-child(3) {
        display: block;
        margin-inline: auto;
        margin-block: 2rem;
        height: 3.6rem;
        width: 15.7rem;
        border-radius: 1.6rem;
        -webkit-border-radius: 1.6rem;
        -moz-border-radius: 1.6rem;
        -ms-border-radius: 1.6rem;
        -o-border-radius: 1.6rem;
        border: 0.2rem solid #000000;
        background-color: transparent;
        font-size: var(--font-medium);
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
